@model MinhasVendas.App.ViewModels.ProdutoViewModel


@{
    ViewData["Title"] = "Produtos";

    ViewData["Rota"] = "Produtos";
    ViewData["Acao"] = "Atualizar Produto";
    ViewData["Rotulo"] = "Atualizar Produto";
    Layout = "_Argon";
}

<main class="main-content position-relative border-radius-lg ">
    <form enctype="multipart/form-data" asp-action="Edit">
        <vc:resumo></vc:resumo>
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="text-white">Atualizar Produto</h4>
                </div>
                <div class="col-lg-6 text-right d-flex flex-column justify-content-center">
                    <button type="submit" class="btn btn-outline-white mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-2">Salvar</button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="font-weight-bolder">Imagem do Produto</h5>
                            <div class="row">
                                <div class="col-12">
                                    <img id="imagemPreview" class="w-100 border-radius-lg shadow-lg mt-3" src="~/imagensProdutos/@Model.Imagem" alt="imagem_produto">
                                </div>
                                <div class="col-12 mt-4">
                                    <div class="d-flex">
                                        <label class="btn btn-primary btn-sm mb-0 me-2" for="imagemInput">
                                            Atualizar Imagem
                                        </label>
                                        <input asp-for="ImagemUpload" id="imagemInput" accept="image/*" style="display: none;" />
                                        <button class="btn btn-outline-dark btn-sm mb-0" id="removerImagem" type="button" name="button">Remover Imagem</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mt-lg-0 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="font-weight-bolder">Informações do Produto</h5>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <label asp-for="Nome"></label>
                                    <input asp-for="Nome" class="form-control" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label asp-for="Codigo"></label>
                                    <input asp-for="Codigo" class="form-control" />
                                    <span asp-validation-for="Codigo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="mt-4">Categoria</label>
                                    <select asp-for="ProdutoCategoriaId" asp-items="ViewBag.categoriaId" class="form-control"></select>
                                </div>
                                <div class="col-3">
                                    <label class="mt-4">Tamanho</label>
                                    <select class="form-control" id="escolhas-categoria-editar">
                                        <option value="">P</option>
                                        <option value="">M</option>
                                        <option value="">G</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label asp-for="Descricao" class="mt-4"></label>
                                    <input asp-for="Descricao" class="form-control" />
                                    <span asp-validation-for="Descricao" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="font-weight-bolder">Valores</h5>
                                <div class="col-3">
                                    <label asp-for="PrecoDeCusto"></label>
                                    <input asp-for="PrecoDeCusto" type="number" class="form-control" id="preco-de-custo" />
                                    <span asp-validation-for="PrecoDeCusto" class="text-danger"></span>
                                </div>
                                <div class="col-4">
                                    <label asp-for="MarkUp"></label>
                                    <input asp-for="MarkUp" type="number" class="form-control" id="markup" />
                                    <span asp-validation-for="MarkUp" class="text-danger"></span>
                                </div>
                                <div class="col-5">
                                    <label asp-for="PrecoDeVenda"></label>
                                    <input asp-for="PrecoDeVenda" type="number" class="form-control" id="preco-de-venda" />
                                    <span asp-validation-for="PrecoDeVenda" class="text-danger"></span>
                                </div>

                                <div class="col-6">
                                    <label class="control-label"></label> <br />
                                    <input asp-for="Ativo" type="radio" value="true" checked /> Disponível <br />
                                    <input asp-for="Ativo" type="radio" value="false" /> Indisponível <br />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>
</main>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



<!--   Core JS Files   -->
<script src="~/argon/assets/js/core/popper.min.js"></script>
<script src="~/argon/assets/js/core/bootstrap.min.js"></script>
<script src="~/argon/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="~/argon/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="~/argon/assets/js/plugins/choices.min.js"></script>
<script src="~/argon/assets/js/plugins/quill.min.js"></script>


<script>
    const imagemInput = document.getElementById('imagemInput');
    const imagemPreview = document.getElementById('imagemPreview');
    const removerImagemButton = document.getElementById('removerImagem');

    imagemInput.addEventListener('change', function () {
        if (imagemInput.files && imagemInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                imagemPreview.src = e.target.result;
                imagemPreview.style.display = 'block';
                removerImagemButton.style.display = 'block';
            };

            reader.readAsDataURL(imagemInput.files[0]);
        }
    });

    removerImagemButton.addEventListener('click', function () {
        imagemInput.value = ''; // Limpa o valor do campo de entrada de arquivo
        imagemPreview.src = '';
        imagemPreview.style.display = 'none';
        removerImagemButton.style.display = 'none';
    });
</script>

<script>
    const precoDeCustoInput = document.getElementById('preco-de-custo');
    const markupInput = document.getElementById('markup');
    const precoDeVendaInput = document.getElementById('preco-de-venda');

    precoDeCustoInput.addEventListener('input', updatePrecoDeVenda);
    markupInput.addEventListener('input', updatePrecoDeVendaPorMarkup);
    precoDeVendaInput.addEventListener('input', updateMarkup);

    function updatePrecoDeVenda() {

        const precoDeCusto = parseFloat(precoDeCustoInput.value);
        const markup = parseFloat(markupInput.value);

        if (isNaN(precoDeCusto) || precoDeCusto < 0 || precoDeCustoInput.value === '') {

            precoDeCustoInput.value = '';
            precoDeVendaInput.value = '';

        }
        else if (markupInput.value === '') {

            precoDeVendaInput.value = precoDeCusto;
            markupInput.value = ''

        }
        else {
            const precoDeVenda = precoDeCusto + (precoDeCusto * (markup / 100));
            precoDeVendaInput.value = precoDeVenda.toFixed(2);
        }

    }

    function updatePrecoDeVendaPorMarkup() {

        const precoDeCusto = parseFloat(precoDeCustoInput.value);
        const markup = parseFloat(markupInput.value);

        
        if (isNaN(precoDeCusto) || precoDeCusto < 0 || precoDeCustoInput.value === '') {
            precoDeCustoInput.value = '';
            precoDeVendaInput.value = '';
        }
        else if (markup < -100) {

            precoDeVendaInput.value = precoDeCusto;
            markupInput.value = '0.00'

        }

        else {
            const precoDeVenda = precoDeCusto + (precoDeCusto * (markup / 100));
            precoDeVendaInput.value = precoDeVenda.toFixed(2);
        }

    }







    function updateMarkup() {
        const precoDeCusto = parseFloat(precoDeCustoInput.value);
        const precoDeVenda = parseFloat(precoDeVendaInput.value);

        if (precoDeVenda < 0 || isNaN(precoDeVenda)) {
            precoDeVendaInput.value = '';

        }
        else if (precoDeCusto > 0 && precoDeVenda >= 0) {
            const markup = ((precoDeVenda - precoDeCusto) / precoDeCusto) * 100;
            markupInput.value = markup.toFixed(2);
        }
        else if (precoDeCusto == 0 && precoDeVenda >= 0) {
            markupInput.value = '0.00'
        }
        else {
            markupInput.value = "";
        }
    }
</script>