@{
    ViewData["Title"] = "Informações e Definicões do Sistma";
}

<div class="text-center">
    <vc:resumo></vc:resumo>
    <h2 class="display-4">Exemplo </h2>
    <hr />
</div>

<form method="Post">
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Informe o seu email" />
    <input type="submit" value="Enviar" />
</form>
