@{
    ViewData["Title"] = "Resultado Carregamento de Dados";
}

<div class="text-center">
    <vc:resumo></vc:resumo>

    <h2 class="display-4">Carregamento de Dados</h2>
    <p>@ViewBag.Resultado</p>

</div>
