
@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 15px;"></div>

    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h6 id="msgRetorno" style="padding-top: 5px">Alerta:</h6>
        <div style="padding-top: 5px" asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
}

