@model MinhasVendas.App.ViewModels.OrdemDeVendaViewModel
@using MinhasVendas.App.Models.Enums


@{
    Layout = "_Argon";

    ViewData["Title"] = "Vendas";

    ViewData["Rota"] = "Vendas";
    ViewData["Acao"] = "Nova Venda";
    ViewData["Rotulo"] = "Nova Venda";
}

<div>
    <form enctype="multipart/form-data" asp-action="Create">
        <vc:resumo></vc:resumo>
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col">
                    <h4 class="text-white">Nova Venda</h4>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="font-weight-bolder">Escolha o Cliente</h5>
                            <label class="mt-4">Cliente</label>

                            <input id="cliente" class="form-control" />
                            <input id="clienteId" type="hidden" asp-for="ClienteId" />

                            <div class="button-row d-flex mt-4">
                                <button class="btn bg-gradient-dark ms-auto mb-0" type="submit">Próximo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/Clientes/ObterClientesNomeEId",
                type: "GET",
                success: function (data) {
                    $("#cliente").autocomplete({
                        source: data,
                        select: function (event, ui) {
                            $("#clienteId").val(ui.item.value);
                            $("#cliente").val(ui.item.label);
                            return false;
                        }
                    });
                }
            });
        });

    </script>
}

