@model MinhasVendas.App.ViewModels.ClienteViewModel

@{
    Layout = "_Argon";

    ViewData["Title"] = "Clientes";

    ViewData["Rota"] = "Clientes";
    ViewData["Acao"] = "Atualizar Cliente";
    ViewData["Rotulo"] = "Atualizar Cliente";
}



<div class="container-fluid py-4">
    <div class="row mb-5">
        <div class="col-12">
            <vc:resumo class="arround"></vc:resumo>
                <div class="row">
                <div class="col-12 col-lg-8 mx-auto my-4">
                    <div class="card">
                        <div class="card-body">
                            <h5>
                                Código do Cliente: # @Model.Id
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8 m-auto">
                    <form class="mb-8" method="post" asp-action="Edit">
                        <div class="card p-3 border-radius-xl bg-white">
                            <h5 class="font-weight-bolder mb-0">Atualizar Cliente</h5>
                            <p class="mb-0 text-sm">Informações importantes</p>
                            <div class="row mt-3">
                                <div class="col-12 col-sm-6">
                                    <label asp-for="Nome"></label>
                                    <input asp-for="Nome" class="form-control" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label asp-for="SobreNome"></label>
                                    <input asp-for="SobreNome" class="form-control" />
                                    <span asp-validation-for="SobreNome" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 col-sm-6">
                                    <label asp-for="DataNascimento"></label>
                                    <input asp-for="DataNascimento" class="form-control" />
                                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label asp-for="Celular"></label>
                                    <input asp-for="Celular" class="form-control" />
                                    <span asp-validation-for="Celular" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 col-sm-6">
                                    <label asp-for="WhatsApp"></label>
                                    <input asp-for="WhatsApp" class="form-control" />
                                    <span asp-validation-for="WhatsApp" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <label asp-for="Instagram"></label>
                                    <input asp-for="Instagram" class="form-control" />
                                    <span asp-validation-for="Instagram" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 col-sm-6">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                    <div class="button-row d-flex mt-4">
                                        <button class="btn bg-gradient-light ms-auto mb-0" href="javascript:window.history.back()" title="Voltar">Voltar</button>
                                        <button class="btn bg-gradient-success ms-auto mb-0" type="submit" title="Atualizar">Atualizar</button>
                                    </div>
                                </div>
                            </div>
                            </>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    }


