@model IEnumerable<MinhasVendas.App.ViewModels.ClienteViewModel>

@{
    Layout = "_Argon";

    ViewData["Title"] = "Clientes";

    ViewData["Rota"] = "Clientes";
    ViewData["Acao"] = "Listagem";
    ViewData["Rotulo"] = "Listagem de Clientes";
}


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- Card header -->
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="mb-0">Clientes</h5>
                            <p class="text-sm mb-0">
                                Listagem
                            </p>
                        </div>
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto">
                                <a asp-action="Create" class="btn bg-gradient-primary btn-sm mb-0">Novo Cliente</a>
                                <button class="btn btn-outline-primary btn-sm export mb-0 mt-sm-0 mt-1" data-type="csv" type="button" name="button">Exportar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">

                        <table class="table table-flush hover compact" id="clientes-listagem">
                            <thead class="thead-light">
                            </thead>
                            <tbody>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {


    <script>

        $(document).ready(function () {
            $('#clientes-listagem').DataTable({
                
                serverSide: true,
                processing: true,
                search: {
                    return: false,
                },
                ordering: false,
                scrollY: 400,

                ajax: '/Clientes/ObterClientes',
                columns: [
                    { data: 'nome', title: 'Nome' },
                    { data: 'sobrenome', title: 'Sobre Nome' },
                    { data: 'celular', title: 'Celular' },
                    { data: 'whatsApp', title: 'WhatsApp' },
                    { data: 'instagram', title: 'Instagram' },
                    { data: 'email', title: 'Email' },
                    { data: 'cidade', title: 'Cidade' },
                    {
                        // Coluna de Ação - Você pode personalizar isso de acordo com suas necessidades
                        data: null,
                        title: 'Ação',
                        render: function (data, type, full, meta) {
                            return '<a href="/Clientes/Details/' + data.id + '" title="Produto detalhe"><i class="fas fa-eye text-secondary"></i></a> ' +
                                '<a href="/Clientes/Delete/' + data.id + '" title="Produto excluir"><i class="fas fa-trash text-secondary"></i></a>';
                        }
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json'
                }
            });
        });


    </script>
}


@*

 if (document.getElementById('clientes-listagem')) {
            let dataTableSearch = new simpleDatatables.DataTable("#clientes-listagem", {
                serverSide: true,
                processing: true,
                searchable: true,
                fixedHeight: false,
                perPage: 7,
                $.ajax({
                    url: "/Clientes/ObterClientesPaginado",
                    type: "GET"
                },
                data: function (data) {

                    data.draw = data.draw || 1;
                    data.start = data.start || 0;
                    data.length = data.length || 10;
                },
                columns: [
                    { data: "nome" },
                    { data: "sobrenome" }
                ]
            });
        });

                        };


---------------------------------
 $('#clientes-listagem').DataTable({
            serverSide: true,
            processing: true,
            search: {
                return: true,
            },

            ajax: {
                url: '/Clientes/ObterClientesPaginadoBusca',
                type: 'POST',
                data: function (d) {
                    d.draw = d.draw || 1;
                    d.start = d.start || 0;
                    d.length = d.length || 10;
                },
            },
            columns: [
                { data: 'nome', title: 'Nome' },
                { data: 'sobrenome', title: 'Sobrenome' },
            ],
        });



        Funcional:


        $('#clientes-listagem').DataTable({
            serverSide: true,
            processing: true,
            search: {
                return: true,
            },

            ajax: '/Clientes/ObterClientesPaginadoBusca',
            columns: [
                { data: 'nome', title: 'Nome' },
                { data: 'sobrenome', title: 'Sobrenome' },
            ],
        });


*@