html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  background-color: aliceblue;
}

body {
  margin-bottom: 60px;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    z-index: 9050 !important;
}

.dataTables_wrapper .dataTables_filter input {
    margin: 0 20px 0 0; 
}
.dataTables_wrapper .dataTables_info {
    margin: 0 0 0 10px; 
}