
@{
    Layout = "_Argon";

    ViewData["Rota"] = "Dashboard";
    ViewData["Acao"] = "Produtos";
    ViewData["Rotulo"] = "Produtos";
}


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body p-3 position-relative">
                    <div class="row">
                        <div class="col-7 text-start">
                            <p class="text-sm mb-1 text-uppercase font-weight-bold">Dado1</p>
                            <h5 class="font-weight-bolder mb-0">
                                R$ 0
                            </h5>
                            <span class="text-sm text-end text-success font-weight-bolder mt-auto mb-0">+100% <span class="font-weight-normal text-secondary">Detalhes</span></span>
                        </div>
                        <div class="col-5">
                            <div class="dropdown text-end">
                                <a href="javascript:;" class="cursor-pointer text-secondary" id="dropdownUsers1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="text-xs text-secondary">Filtro</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end px-2 py-3" aria-labelledby="dropdownUsers1">
                                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Filtro1</a></li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Filtro2</a></li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Filtro3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-sm-0 mt-4">
            <div class="card">
                <div class="card-body p-3 position-relative">
                    <div class="row">
                        <div class="col-7 text-start">
                            <p class="text-sm mb-1 text-uppercase font-weight-bold">Dado2</p>
                            <h5 class="font-weight-bolder mb-0">
                                100
                            </h5>
                            <span class="text-sm text-end text-success font-weight-bolder mt-auto mb-0">+100% <span class="font-weight-normal text-secondary">Detalhes</span></span>
                        </div>
                        <div class="col-5">
                            <div class="dropdown text-end">
                                <a href="javascript:;" class="cursor-pointer text-secondary" id="dropdownUsers2" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="text-xs text-secondary">Filtro</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end px-2 py-3" aria-labelledby="dropdownUsers2">
                                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Filtro1</a></li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Filtro2</a></li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Filtro3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-sm-0 mt-4">
            <div class="card">
                <div class="card-body p-3 position-relative">
                    <div class="row">
                        <div class="col-7 text-start">
                            <p class="text-sm mb-1 text-uppercase font-weight-bold">Dado3</p>
                            <h5 class="font-weight-bolder mb-0">
                                R$ 0
                            </h5>
                            <span class="font-weight-normal text-secondary text-sm"><span class="font-weight-bolder">+R$100</span> Detalhes</span>
                        </div>
                        <div class="col-5">
                            <div class="dropdown text-end">
                                <a href="javascript:;" class="cursor-pointer text-secondary" id="dropdownUsers3" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="text-xs text-secondary">Filtro</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end px-2 py-3" aria-labelledby="dropdownUsers3">
                                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Filtro1</a></li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Filtro2</a></li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Filtro3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4 col-sm-6">
            <div class="card h-100">
                <div class="card-header pb-0 p-3">
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0">Gráfico 1</h6>
                       @* <button type="button" class="btn btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="See traffic channels">
                            <i class="fas fa-info" aria-hidden="true"></i>
                        </button>*@
                    </div>
                </div>
                <div class="card-body pb-0 p-3 mt-4">
                    <div class="row">
                        <div class="col-7 text-start">
                            <div class="chart">
                                <canvas id="chart-pie" class="chart-canvas" height="200"></canvas>
                            </div>
                        </div>
                        <div class="col-5 my-auto">
                            <span class="badge badge-md badge-dot me-4 d-block text-start">
                                <i class="bg-info"></i>
                                <span class="text-dark text-xs">Dado1</span>
                            </span>
                            <span class="badge badge-md badge-dot me-4 d-block text-start">
                                <i class="bg-primary"></i>
                                <span class="text-dark text-xs">Dado2</span>
                            </span>
                            <span class="badge badge-md badge-dot me-4 d-block text-start">
                                <i class="bg-dark"></i>
                                <span class="text-dark text-xs">Dado3</span>
                            </span>
                            <span class="badge badge-md badge-dot me-4 d-block text-start">
                                <i class="bg-secondary"></i>
                                <span class="text-dark text-xs">Dado4</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-footer pt-0 pb-0 p-3 d-flex align-items-center">
                    <div class="w-60">
                        <p class="text-sm">
                           Detalhes sobre os <b>dados</b> inseridos no gráfico.
                        </p>
                    </div>
                    <div class="w-40 text-end">
                        <a class="btn bg-light mb-0 text-end" href="javascript:;">Link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-6 mt-sm-0 mt-4">
            <div class="card">
                <div class="card-header pb-0 p-3">
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0">Gráfico 2</h6>
                       @* <button type="button" class="btn btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="See which ads perform better">
                            <i class="fas fa-info" aria-hidden="true"></i>
                        </button>*@
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="badge badge-md badge-dot me-4">
                            <i class="bg-success"></i>
                            <span class="text-dark text-xs">Dado1</span>
                        </span>
                        <span class="badge badge-md badge-dot me-4">
                            <i class="bg-dark"></i>
                            <span class="text-dark text-xs">Dado 2</span>
                        </span>
                    </div>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-8">
            <div class="card h-100">
                <div class="card-header pb-0 p-3">
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0">Gráfico 3</h6>
                    </div>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="chart-bar" class="chart-canvas" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-lg-0 mt-4">
            <div class="card">
                <div class="card-header pb-0 p-3">
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0">Tabela 1</h6>
                    </div>
                </div>
                <div class="card-body p-3">
                    <ul class="list-group list-group-flush list my--3">
                        <li class="list-group-item px-0 border-0">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <!-- Country flag -->
                                    @*<img src="~/argon/assets/img/icons/flags/US.png" alt="Country flag">*@
                                </div>
                                <div class="col">
                                    <p class="text-xs font-weight-bold mb-0">Titulo1:</p>
                                    <h6 class="text-sm mb-0">Dado</h6>
                                </div>
                                <div class="col text-center">
                                    <p class="text-xs font-weight-bold mb-0">Titulo2:</p>
                                    <h6 class="text-sm mb-0">100</h6>
                                </div>
                                <div class="col text-center">
                                    <p class="text-xs font-weight-bold mb-0">Titulo3:</p>
                                    <h6 class="text-sm mb-0">100%</h6>
                                </div>
                            </div>
                            <hr class="horizontal dark mt-3 mb-1">
                        </li>
                         <li class="list-group-item px-0 border-0">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <!-- Country flag -->
                                    @*<img src="~/argon/assets/img/icons/flags/US.png" alt="Country flag">*@
                                </div>
                                <div class="col">
                                    <p class="text-xs font-weight-bold mb-0">Titulo1:</p>
                                    <h6 class="text-sm mb-0">Dado</h6>
                                </div>
                                <div class="col text-center">
                                    <p class="text-xs font-weight-bold mb-0">Titulo2:</p>
                                    <h6 class="text-sm mb-0">100</h6>
                                </div>
                                <div class="col text-center">
                                    <p class="text-xs font-weight-bold mb-0">Titulo3:</p>
                                    <h6 class="text-sm mb-0">100%</h6>
                                </div>
                            </div>
                            <hr class="horizontal dark mt-3 mb-1">
                        </li>
                         <li class="list-group-item px-0 border-0">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <!-- Country flag -->
                                    @*<img src="~/argon/assets/img/icons/flags/US.png" alt="Country flag">*@
                                </div>
                                <div class="col">
                                    <p class="text-xs font-weight-bold mb-0">Titulo1:</p>
                                    <h6 class="text-sm mb-0">Dado</h6>
                                </div>
                                <div class="col text-center">
                                    <p class="text-xs font-weight-bold mb-0">Titulo2:</p>
                                    <h6 class="text-sm mb-0">100</h6>
                                </div>
                                <div class="col text-center">
                                    <p class="text-xs font-weight-bold mb-0">Titulo3:</p>
                                    <h6 class="text-sm mb-0">100%</h6>
                                </div>
                            </div>
                            <hr class="horizontal dark mt-3 mb-1">
                        </li>
                         <li class="list-group-item px-0 border-0">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <!-- Country flag -->
                                    @*<img src="~/argon/assets/img/icons/flags/US.png" alt="Country flag">*@
                                </div>
                                <div class="col">
                                    <p class="text-xs font-weight-bold mb-0">Titulo1:</p>
                                    <h6 class="text-sm mb-0">Dado</h6>
                                </div>
                                <div class="col text-center">
                                    <p class="text-xs font-weight-bold mb-0">Titulo2:</p>
                                    <h6 class="text-sm mb-0">100</h6>
                                </div>
                                <div class="col text-center">
                                    <p class="text-xs font-weight-bold mb-0">Titulo3:</p>
                                    <h6 class="text-sm mb-0">100%</h6>
                                </div>
                            </div>
                            <hr class="horizontal dark mt-3 mb-1">
                        </li>
                         <li class="list-group-item px-0 border-0">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <!-- Country flag -->
                                    @*<img src="~/argon/assets/img/icons/flags/US.png" alt="Country flag">*@
                                </div>
                                <div class="col">
                                    <p class="text-xs font-weight-bold mb-0">Titulo1:</p>
                                    <h6 class="text-sm mb-0">Dado</h6>
                                </div>
                                <div class="col text-center">
                                    <p class="text-xs font-weight-bold mb-0">Titulo2:</p>
                                    <h6 class="text-sm mb-0">100</h6>
                                </div>
                                <div class="col text-center">
                                    <p class="text-xs font-weight-bold mb-0">Titulo3:</p>
                                    <h6 class="text-sm mb-0">100%</h6>
                                </div>
                            </div>
                            <hr class="horizontal dark mt-3 mb-1">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Tabela 2</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Título1</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Título2</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Título3</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Título4</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div>
                                                @*<img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/blue-shoe.jpg" class="avatar me-3" alt="image">*@
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Dado1</h6>
                                                <p class="text-sm font-weight-bold text-secondary mb-0"><span class="text-success">100</span> Venda</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">R$ 100</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p class="text-sm font-weight-bold mb-0">R$ 100</p>
                                    </td>
                                    <td class="align-middle text-end">
                                        <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                                            <p class="text-sm font-weight-bold mb-0">10</p>
                                            <i class="ni ni-bold-down text-sm ms-1 mt-1 text-success"></i>
                                            @*<button type="button" class="btn btn-sm btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center ms-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Refund rate is lower with 97% than other products">*@
                                                @*<i class="fas fa-info" aria-hidden="true"></i>*@
                                            @*</button>*@
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div>
                                                @*<img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/blue-shoe.jpg" class="avatar me-3" alt="image">*@
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Dado1</h6>
                                                <p class="text-sm font-weight-bold text-secondary mb-0"><span class="text-success">100</span> Venda</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">R$ 100</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p class="text-sm font-weight-bold mb-0">R$ 100</p>
                                    </td>
                                    <td class="align-middle text-end">
                                        <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                                            <p class="text-sm font-weight-bold mb-0">10</p>
                                            <i class="ni ni-bold-down text-sm ms-1 mt-1 text-success"></i>
                                            @*<button type="button" class="btn btn-sm btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center ms-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Refund rate is lower with 97% than other products">*@
                                                @*<i class="fas fa-info" aria-hidden="true"></i>*@
                                            @*</button>*@
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div>
                                                @*<img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/blue-shoe.jpg" class="avatar me-3" alt="image">*@
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Dado1</h6>
                                                <p class="text-sm font-weight-bold text-secondary mb-0"><span class="text-success">100</span> Venda</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">R$ 100</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p class="text-sm font-weight-bold mb-0">R$ 100</p>
                                    </td>
                                    <td class="align-middle text-end">
                                        <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                                            <p class="text-sm font-weight-bold mb-0">10</p>
                                            <i class="ni ni-bold-down text-sm ms-1 mt-1 text-success"></i>
                                            @*<button type="button" class="btn btn-sm btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center ms-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Refund rate is lower with 97% than other products">*@
                                                @*<i class="fas fa-info" aria-hidden="true"></i>*@
                                            @*</button>*@
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div>
                                                @*<img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/blue-shoe.jpg" class="avatar me-3" alt="image">*@
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Dado1</h6>
                                                <p class="text-sm font-weight-bold text-secondary mb-0"><span class="text-success">100</span> Venda</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">R$ 100</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p class="text-sm font-weight-bold mb-0">R$ 100</p>
                                    </td>
                                    <td class="align-middle text-end">
                                        <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                                            <p class="text-sm font-weight-bold mb-0">10</p>
                                            <i class="ni ni-bold-down text-sm ms-1 mt-1 text-success"></i>
                                            @*<button type="button" class="btn btn-sm btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center ms-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Refund rate is lower with 97% than other products">*@
                                                @*<i class="fas fa-info" aria-hidden="true"></i>*@
                                            @*</button>*@
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div>
                                                @*<img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/blue-shoe.jpg" class="avatar me-3" alt="image">*@
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Dado1</h6>
                                                <p class="text-sm font-weight-bold text-secondary mb-0"><span class="text-success">100</span> Venda</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">R$ 100</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p class="text-sm font-weight-bold mb-0">R$ 100</p>
                                    </td>
                                    <td class="align-middle text-end">
                                        <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                                            <p class="text-sm font-weight-bold mb-0">10</p>
                                            <i class="ni ni-bold-down text-sm ms-1 mt-1 text-success"></i>
                                            @*<button type="button" class="btn btn-sm btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center ms-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Refund rate is lower with 97% than other products">*@
                                                @*<i class="fas fa-info" aria-hidden="true"></i>*@
                                            @*</button>*@
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {



    <script>
        @*
        var ctx1 = document.getElementById("chart-line").getContext("2d");
        var ctx2 = document.getElementById("chart-pie").getContext("2d");
        var ctx3 = document.getElementById("chart-bar").getContext("2d");

        var gradientStroke1 = ctx1.createLinearGradient(0, 230, 0, 50);

        gradientStroke1.addColorStop(1, 'rgba(94, 114, 228,0.2)');
        gradientStroke1.addColorStop(0.2, 'rgba(94, 114, 228,0.0)');
        gradientStroke1.addColorStop(0, 'rgba(94, 114, 228,0)'); //purple colors

        var gradientStroke2 = ctx1.createLinearGradient(0, 230, 0, 50);

        gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
        gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
        gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors
        // Line chart
        new Chart(ctx1, {
            type: "line",
            data: {
                labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Facebook Ads",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 2,
                    pointBackgroundColor: "#5e72e4",
                    borderColor: "#5e72e4",
                    borderWidth: 3,
                    backgroundColor: gradientStroke1,
                    fill: true,
                    data: [50, 100, 200, 190, 400, 350, 500, 450, 700],
                    maxBarThickness: 6
                },
                {
                    label: "Google Ads",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 2,
                    pointBackgroundColor: "#3A416F",
                    borderColor: "#3A416F",
                    borderWidth: 3,
                    backgroundColor: gradientStroke2,
                    fill: true,
                    data: [10, 30, 40, 120, 150, 220, 280, 250, 280],
                    maxBarThickness: 6
                }
                ],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5]
                        },
                        ticks: {
                            display: true,
                            padding: 10,
                            color: '#9ca2b7'
                        }
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: true,
                            borderDash: [5, 5]
                        },
                        ticks: {
                            display: true,
                            color: '#9ca2b7',
                            padding: 10
                        }
                    },
                },
            },
        });


        // Pie chart
        new Chart(ctx2, {
            type: "pie",
            data: {
                labels: ['Facebook', 'Direct', 'Organic', 'Referral'],
                datasets: [{
                    label: "Projects",
                    weight: 9,
                    cutout: 0,
                    tension: 0.9,
                    pointRadius: 2,
                    borderWidth: 2,
                    backgroundColor: ['#17c1e8', '#5e72e4', '#3A416F', '#a8b8d8'],
                    data: [15, 20, 12, 60],
                    fill: false
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false,
                        },
                        ticks: {
                            display: false
                        }
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false,
                        },
                        ticks: {
                            display: false,
                        }
                    },
                },
            },
        });

        // Bar chart
        new Chart(ctx3, {
            type: "bar",
            data: {
                labels: ['16-20', '21-25', '26-30', '31-36', '36-42', '42+'],
                datasets: [{
                    label: "Sales by age",
                    weight: 5,
                    borderWidth: 0,
                    borderRadius: 4,
                    backgroundColor: '#3A416F',
                    data: [15, 20, 12, 60, 20, 15],
                    fill: false
                }],
            },
            options: {
                indexAxis: 'y',
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5]
                        },
                        ticks: {
                            display: true,
                            padding: 10,
                            color: '#9ca2b7'
                        }
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: true,
                            drawTicks: true,
                        },
                        ticks: {
                            display: true,
                            color: '#9ca2b7',
                            padding: 10
                        }
                    },
                },
            },
        });

        *@
    </script>

}
