@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Conta Ativada";
}

<h1>@ViewData["Title"]</h1>
<p>Conta Ativada Com sucesso</p>
<a asp-controller="home" asp-action="index">Tela Inicial</a>

@* <partial name="_StatusMessage" model="Model.StatusMessage" /> *@