@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signup-cover.jpg'); background-position: top;">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center mx-auto">
                    <h1 class="text-white mb-2 mt-5">Bem-Vindo!</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                <div class="card z-index-0">
                    <div class="card-header text-center pt-4">
                        <h5>Registrar-se</h5>
                    </div>
                    <div class="card-body">
                        <form id="registerFrom" asp-route-returnUrl="@Model.ReturnUrl" method="post" role="form">
                            <div class="mb-3">
                                <input asp-for="Input.Email" class="form-control" placeholder="Email" aria-label="Email">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <input asp-for="Input.Password" class="form-control" placeholder="Senha" aria-label="Senha">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirmar Senha" aria-label="ConfirmarSenha">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-check form-check-info text-start">
                                <input class="form-check-input" type="checkbox" value="" checked>
                                <label class="form-check-label">
                                    Eu concordo com os <a href="#" class="text-dark font-weight-bolder">Termos e Condições</a>
                                </label>
                            </div>
                            <div class="text-center">
                                <button id="registerSubmit" type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Registrar</button>
                            </div>
                            <p class="text-sm mt-3 mb-0">Já tem uma conta? <a asp-page="./Login" class="text-dark font-weight-bolder">Entrar</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
