@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação do Registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Clique em confirmar para ativar sua conta: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Confirmar</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

