<!DOCTYPE html>
<html lang="pt-br">
<head>
    <partial name="_Head" />
</head>
<body>
    <!-- Continer -->
    @RenderBody()
    <!--  _ScriptsArgon   -->
    <partial name="_ScriptsArgon" />
    <!-- _ScriptsRazor-->
    <partial name="_ScriptsRazor" />

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
